fastapi==0.95.2
uvicorn==0.22.0
SQLAlchemy==1.4.46
python-jose==3.3.0
passlib==1.7.4  # Inclui suporte ao bcrypt para senhas
python-multipart==0.0.5
pyodbc==5.2.0  # Compatível com Python 3.11
pydantic==1.10.9  # Para validações no FastAPI
